{% load bootstrap_icons %}
<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="{% url 'index' %}"
            class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <i class="fs-4 me-1 d-sm-none">{% bs_icon 'house' size='1.5rem' %}</i>
            <span class="fs-4 d-none d-sm-inline">Service</span>
        </a>

        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="{% url 'menu1_view' %}" class="nav-link text-white align-middle px-0">
                    <i class="fs-5 me-1">{% bs_icon 'person-circle' size='1.5rem' %}</i>
                    <span class="fs-5 d-none d-sm-inline">Menu1</span>
                </a>
            </li>
        </ul>
    </div>
</div>